.expand-bike-card-container { 
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  justify-content: space-between;
}

.left-bike-card-section-container { 
  width: 15%;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

.middle-bike-card-section-container { 
  background-color: white;
  width: 42%;
  border-radius: 5px;
}

.right-bike-card-section-container { 
  width: 42%;
  border-radius: 5px;
  background-color: white;
}

.add-ride-button, .maintenance-button { 
  padding: 10px;
  width: 100%;
  background-color: #214DCF;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.close-button { 
  padding: 10px;
  width: 100%;
  background-color: #214DCF;
  border: none;
  color: white;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.main-button-container { 
  margin-top: 300px;;
}



