.top-bar-container {
  padding: 10px;
}

.maintenance-container-title {
  font-size: 24px;
  font-weight: 600;
}

.maintenance-container-description {
  font-size: 14px;
  color: #8E8E93;
}

.widget-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 10px;
  width: 100%;
}

.left-widget-container {
  display: grid;
  row-gap: 10px;
}

.info-card-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  column-gap: 10px;
  row-gap: 10px;
}

.right-widget-container {
  display: flex;
  align-items: stretch; 
}


