* { 
  padding: 0;
  margin: 0;
  font-family: Inter;
  box-sizing: border-box;
}

.top-nav-bar-container { 
  width: 100%;
  height: 64px;
  background-color: white;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar-container { 
  display: flex;
  flex-direction: row;
  width: 100%;
}

.search-bar { 
  width: 50%;
  height: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 100px;
  border: none;
  background-color: rgb(242, 242, 247);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.search-icon { 
  background-color: rgb(242, 242, 247);
  height: 30px;
  width: 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.theme-container { 
  margin-right: 300px;
}





