.top-bar-container { 
  margin-bottom: 20px;
}

.bike-container-title { 
  font-size: 24px;
}

.bike-container-description { 
  font-size: 14px;
}

.bike-card-container { 
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}