.calender-widget-container { 
  background-color: white;
  width: 100%;
  height: 320px;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.calender-grid-container { 
  margin-top: 30px;
  width: 100%;
  padding: 0 10px;
}

.calender-widget-title-container { 
  padding: 10px 15px 0px 10px
}

.calender-widget-title { 
  font-weight: 600;
  font-size: 18px;
}

.calender-widget-description { 
  font-size: 14px;
  color: rgb(129, 129, 134);
  margin-top: 5px;
}

.calender-grid { 
  padding: 0 50px;
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

.first-day { 
  grid-column-start: 3;
}

.day-name { 
  color: rgb(129, 129, 134); 
  background-color: white;
}

.current-month {
  text-align: center;
  color: rgb(129, 129, 134); 
}
ol {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
li {
  padding: 2px;
}