.maintenance-action-bar { 
  display: flex; 
  flex-direction: row;
  align-items: center;
  margin-top: 100px;
  background-color: lightblue;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.maintenance-action-bar-button-container { 
  display: flex;
  align-items: center;
  justify-content: space-between;
}



