* { 
  font-family: Roboto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container { 
  background-color: lightblue;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px; 
  list-style: none;
  color: #808080;
  margin-top: 64px;
}
.logo-container { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.brand-name { 
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.main-container li {
  display: inline-flex; 
  align-items: center; 
  gap: 8px; 
  cursor: pointer;
}

.main-container li:hover{ 
  background-color: #214ED3;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.down-arrow-logo { 
  margin-left: 10px;
}
